<section id="login">
    <header data-i18n="noobphone:login.title">&nbsp;</header>
    <img src="__hostUrl__/images/icons/32x32/emotion_evilgrin.png" />
    <form>
        <div><input type="text" name="nickname" /><label for="nickname" data-i18n="noobphone:login.nickname">&nbsp;</label></div>
        <div><input type="text" name="login" /><label for="login" data-i18n="noobphone:login.login">&nbsp;</label></div>
        <div><input type="password" name="password" /><label for="password" data-i18n="noobphone:login.password">&nbsp;</label></div>
        <div><input type="submit" data-i18n="noobphone:login.submit" value="" /></div>
    </form>
</section>
<script type="text/javascript">
    $('#noobphone #login [type="submit"]').click(function (event) {
        event.stopPropagation();

        if ($('#noobphone #login [name="nickname"]').val() != '') {
            socketio.root.emit('login', $('#noobphone #login [name="nickname"]').val(), $('#noobphone #login [name="login"]').val(), $('#noobphone #login [name="password"]').val());
        }
        return false;
    });
</script>